@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-action: #d87d4a;
  --color-white: #fff;
  --color-gray: #f1f1f1;
  --color-black: rgb(25, 25, 25);
  --color-red: #ff0000;
  --breakpoint-xl: 70rem;
}
.navLink {
  @apply font-bold uppercase text-sm hover:text-action/80 transition-all;
}
